<html>

    <head>
        <meta charset="UTF-8">
        <title>
            기도하는 수달
        </title>
    </head>
    
    <body style="background-color:lightblue;" >
        안녕하세요 저는 <span style="color: rebeccapurple; font-size: x-large;">기도하는 수달</span> 입니다!
        <img src="/static_url/sudal.jpg" class="card-img-top" alt="..." >
        
        
        저를 더 보고싶으시다고요?
        <div>
        <a href="https://youtu.be/0xT1PFtXaPc" target="_self">
        <button type="button" class="btn btn-link">눌러줭!</button>
        </a>
        </span>
    </div>
    </div>
    </body>

</html>
